RewriteEngine On
RewriteBase /

# Redirige todo el tráfico a index.php a menos que el archivo exista
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]