@use "base/variables" as v;

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden;
}

.modal {
    background: v.$fondo-modal;
    border-radius: 8px;
    max-width: 400px;
    width: 90%;
    min-height: 200px;
    box-shadow: 0 5px 15px v.$sombra-modal;
    position: relative;
    font-family: Arial, sans-serif;
    color: v.$color-texto-base;
}

.modal h5 {
    text-transform: uppercase;
    text-align: center;
    color: #eaf4fc;

    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    padding: 1rem 1.5rem;
}

.modal > :not(:first-child) {
    padding: 0 1rem;
}

.modal > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal > div > button {
    transition: background-color 0.2s, box-shadow 0.2s, transform 0.1s;
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    background: v.$boton-fondo;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.modal > div > button:hover {
    background: v.$boton-fondo-hover;
}

.modal > div > button:active {
    transform: translateY(2px);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: v.$boton-fondo-active;
}

.modal-error {
    border: 2px solid v.$borde-error;
    background-color: v.$fondo-error;
    color: v.$texto-error;
}

.modal.modal-error h5 {
    background-color: v.$fondo-titulo-error;
    color: #fff;
}

.modal-warning {
    border: 2px solid v.$borde-warning;
    background-color: v.$fondo-warning;
    color: v.$texto-warning;
}

.modal.modal-warning h5 {
    background-color: v.$fondo-titulo-warning;
    color: #fff;
}

.modal-message {
    border: 2px solid v.$borde-mensaje;
    background-color: v.$fondo-mensaje;
    color: v.$texto-mensaje;
}

.modal.modal-message h5 {
    background-color: v.$fondo-titulo-mensaje;
    color: #fff;
}
